@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@font-face {
  font-family: "Star Jedi";
  src: url("./assets/fonts/Starjedi.ttf");
}
.App {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}